<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
</head>
<body>
    <h1>Catálogo</h1>

    <form action="{{ url_for('catalogo') }}" method="POST">
      <input type="submit" name="submit" id="submit" value="Enviar mensaje">
    </form>

    <table align="center" border="1" style="width:auto; height:20px;">
        <tr>
          <th class="col">Fecha</th>
          <th class="col">Cliente</th>
          <th class="col">Correo</th>
          <th class="col">Celular</th>
          <th class="col">Categoría</th>
          <th class="col">Artículo</th>
          <th class="col">Cantidad</th>

          {% for item in data %}
          <tr>
            <th>{{item['Fecha']}}</th>
            <th>{{item['Nombre']}}</th>
            <th>{{item['Correo']}}</th>
            <th>{{item['Celular']}}</th>
            <th>{{item['Categoría']}}</th>
            <th>{{item['Producto']}}</th>
            <th>{{item['Cantidad']}}</th>
            <th>
              <form action="{{ url_for('catalogo') }}" method="POST">
                <input type="hidden" name="fecha" id="fecha" value="{{item['Fecha']}}">
                <input type="hidden" name="nombre" id="nombre" value="{{item['Nombre']}}">
                <input type="hidden" name="celular" id="celular" value="{{item['Celular']}}">
                <input type="hidden" name="correo" id="correo" value="{{item['Correo']}}">
                <input type="hidden" name="categoria" id="categoria" value="{{item['Categoría']}}">
                <input type="hidden" name="articulo" id="articulo" value="{{item['Producto']}}">
                <input type="hidden" name="cantidad" id="cantidad" value="{{item['Cantidad']}}">
                <input type="hidden" name="data" id="data" value={{data}}>
                <input type="submit" name="submit" id="submit" value="Enviar mensaje">
              </form>
            </th>
        </tr>
          {% endfor %}
        </tr>
    </table>

    <a href="catalogoEnviados">Enviados</a>
</body>
</html>