<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Pallet</h1>
    <br>
    <h1>Nuevos:</h1>
    <a href="personalizados">Ver pedidos personalizados</a>
    <a class="read-more" href="catalogo">Ver pedidos de catálogo</a>
    <br>
    <h1>Contestados:</h1>
    <a href="personalizadosEnviados">Ver pedidos personalizados contestados</a>
    <a href="catalogoEnviados">Ver pedidos de catálogo contestados</a>

</body>
</html>